// Core
@import "~@js/core/assets/scss/imports.scss";

// Bootstrap components
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/code";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/input-group";
@import "~bootstrap/scss/custom-forms";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/breadcrumb";
@import "~bootstrap/scss/pagination";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/jumbotron";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/progress";
@import "~bootstrap/scss/media";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/tooltip";
@import "~bootstrap/scss/popover";
@import "~bootstrap/scss/carousel";
@import "~bootstrap/scss/utilities";

// sm overrides
@import "~@js/core/assets/scss/partials/reboot.scss";
@import "~@js/core/assets/scss/partials/global.scss";
@import "~@js/core/assets/scss/partials/utilities.scss";
@import "~@js/core/assets/scss/partials/accordion.scss";
@import "~@js/core/assets/scss/partials/alerts.scss";
@import "~@js/core/assets/scss/partials/avatars.scss";
@import "~@js/core/assets/scss/partials/badge.scss";
@import "~@js/core/assets/scss/partials/buttons.scss";
@import "~@js/core/assets/scss/partials/card.scss";
@import "~@js/core/assets/scss/partials/carousel.scss";
@import "~@js/core/assets/scss/partials/close.scss";
@import "~@js/core/assets/scss/partials/custom-forms.scss";
@import "~@js/core/assets/scss/partials/dropdown.scss";
@import "~@js/core/assets/scss/partials/footer.scss";
@import "~@js/core/assets/scss/partials/forms.scss";
@import "~@js/core/assets/scss/partials/grid.scss";
@import "~@js/core/assets/scss/partials/icons.scss";
@import "~@js/core/assets/scss/partials/input-group.scss";
@import "~@js/core/assets/scss/partials/list-group.scss";
@import "~@js/core/assets/scss/partials/modal.scss";
@import "~@js/core/assets/scss/partials/nav.scss";
@import "~@js/core/assets/scss/partials/navbar.scss";
@import "~@js/core/assets/scss/partials/pagination.scss";
@import "~@js/core/assets/scss/partials/popover.scss";
@import "~@js/core/assets/scss/partials/progress.scss";
@import "~@js/core/assets/scss/partials/section.scss";
@import "~@js/core/assets/scss/partials/table.scss";
@import "~@js/core/assets/scss/partials/type.scss";
@import "~@js/core/assets/scss/partials/transitions.scss";
@import "~@js/core/assets/scss/partials/uploaders.scss";
@import "~@js/core/assets/scss/partials/views.scss";

// Vendor
@import "~@js/core/assets/scss/overrides/flatpickr.scss";
@import "~@js/core/assets/scss/overrides/headroom.scss";
@import "~@js/core/assets/scss/overrides/nouislider.scss";
@import "~@js/core/assets/scss/overrides/sli.scss";
@import "~@js/core/assets/scss/overrides/nprogress.scss";
@import "~@js/core/assets/scss/overrides/toasted.scss";
@import "~@js/core/assets/scss/overrides/multiselect.scss";
@import "~@js/core/assets/scss/overrides/vue-notification.scss";
@import "~@js/core/assets/scss/overrides/switch.scss";
@import "~@js/core/assets/scss/overrides/vuescroll.scss";

// components
@import "~@js/core/assets/scss/components/app-logo.scss";
@import "~@js/core/assets/scss/components/chat.scss";
@import "~@js/core/assets/scss/components/profile-card.scss";
@import "~@js/core/assets/scss/components/context-menu.scss";
@import "~@js/core/assets/scss/components/inner-sidebar.scss";
@import "~@js/core/assets/scss/components/skeleton-box.scss";
@import "~@js/core/assets/scss/components/print-headers.scss";
@import "~@js/core/assets/scss/components/site.scss";
@import "~@js/core/assets/scss/components/meeting.scss";
