.print-header {
    &.print-header-simple {
        border-bottom: $border-width solid $gray-chalk;
        padding-bottom: 2rem;
        margin-bottom: 3rem;

        .contact-details {
            p, h6 {
                line-height: 1.4rem;
                margin: 0;
            }
            h6 {
                margin-top: 0.4rem;
            }
        }
    }
}